<div class="container-fluid">
    <div class="col-md-12 component-header">
        <div class="row">
            <div class="col-md-4">
                <span class="table-header-items">Teachers</span>
            </div>
            <div class="col-md-8 text-right">
                <button pButton type="button" icon="pi pi-filter" label="Filters"
                    class="ui-button-secondary table-header-items" (click)="toggleClass($event)"></button>&nbsp;
                <button pButton type="button" icon="pi pi-plus" label="Teacher"
                    class="ui-button-secondary table-header-items" (click)="addNew($event)"></button>
            </div>
        </div>
    </div>

    <form [formGroup]="filtersForm"  (ngSubmit)="filterSubmit()">
        <div #myFiltersDiv class="col-md-12 box transform">
            <div class="row search-box search-box-padding">
                <div class="col-md-3">
                    <span>Teacher Name</span><br>
                    <input id="name" class="w-100" type="text" formControlName="tName" placeholder="Teacher Name"
                        size="30" pInputText>
                </div>
                <div class="col-md-3">
                    <span>Qualification</span><br>
                    <p-dropdown [options]="qualification" class="w-100" formControlName="tQualification"
                        placeholder="Select a Qualification"  ></p-dropdown>
                </div>
                <div class="col-md-3">
                    <span>Date Of Birth</span><br>
                    <p-calendar placeholder="Select Date" formControlName="tDateOfBirth"
                        [inputStyle]="{'width':'100% !important'}" [showIcon]="true"></p-calendar>
                </div>
                <div class="col-md-3">
                    <span>Email</span><br>
                    <input id="email" class="w-100" formControlName="tEmail" type="text" placeholder="Enter Email"
                        size="30" pInputText>
                </div>
                <div class="col-md-3">
                    <span>Mobile</span><br>
                    <input id="mobile" class="w-100" formControlName="tMobile" type="text"
                        placeholder="Enter MobileNumber" size="30" pInputText>
                </div>
                <div class="col-md-3">
                    <span>Experience</span><br>
                    <p-dropdown [options]="experience" formControlName="tExperience" class="w-100"
                        placeholder="Select a Experience"  ></p-dropdown>
                </div>
                <div class="col-md-3">
                    <span>Expertise</span><br>
                    <p-multiSelect [options]="expertise"  formControlName="tExpertise" placeholder="Select Subject"  
                        class="w-100">
                    </p-multiSelect>
                </div>
                <div class="col-md-3">
                    <span>Classes</span><br>
                    <p-multiSelect [options]="classes"  formControlName="tClasses" placeholder="Select Classes" 
                        class="w-100">
                    </p-multiSelect> 
                </div>
                <div class="col-md-3">
                    <span>Sections</span><br>
                    <p-multiSelect [options]="sections"  formControlName="tSections" placeholder="Select Sections"  
                        class="w-100">
                    </p-multiSelect>
                </div>
                <div class="col-md-9 text-right search-buttons">
                    <button pButton type="submit" icon="pi pi-search" label="Search"
                        class="ui-button-secondary table-header-items"></button>&nbsp;
                    <button pButton type="button" icon="pi pi-refresh" label="Clear" (click)="resetFilterForm()"
                        class="ui-button-secondary table-header-items"></button>
                </div>
            </div>
        </div> 
    </form>



    <div class="col-md-12 error-block animated fadeIn" *ngIf="errorMessage">
        <div class="col-md-12">
            <i class="fa fa-exclamation-circle"></i>
            <b>{{errorMessage}}</b>
        </div>
    </div>
    <div class="col-md-12 success-block animated fadeIn" *ngIf="successMessage">
        <div class="col-md-12">
            <i class="fa fa-check"></i>
            <b>{{successMessage}}</b>
        </div>
    </div>
    <div class="col-md-12 search-box">
        <p-table #dt [columns]="cols" [value]="teachers" [lazy]="true" (onLazyLoad)="loadCarsLazy($event)"
            [paginator]="true" [rows]="10" [totalRecords]="totalRecords" [loading]="loading" [responsive]="true"
            [reorderableColumns]="true" dataKey="firstname">
            <ng-template pTemplate="header" let-columns>
                <tr>

                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" pReorderableColumn
                        style="width: 20% !important;">
                        <div class="">
                            {{col.header}}
                            <p-sortIcon [field]="col.field" style="float:right"></p-sortIcon>
                        </div>
                    </th>
                    <th style="width:5em"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns" let-expanded="expanded">
                <tr>
                    <td *ngFor="let col of columns">
                        <a class="bold" (click)="viewTeacher(rowData.id)">{{rowData[col.field]}}</a>
                    </td>
                    <td class="d-flex">
                        <i class="pi pi-pencil" (click)="editTeacher(rowData.id)"></i>&nbsp;
                        <i class="pi pi-trash" (click)="deleteTeacher(rowData.id)"></i>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <p-dialog header="Delete Confirmation" [transitionOptions]="'500ms'" [baseZIndex]="20000" [(visible)]="display"
        [style]="{width: '30vw'}" [responsive]="true" [draggable]="true" [position]="position">
        <p>Are you sure you want to delete Teacher?</p>
        <p-footer class="btm-buttons">
            <button type="button" pButton icon="pi pi-check" label="Yes" (click)="teacherRevoke()"></button>
            <button type="button" pButton icon="pi pi-times" (click)="display=false" label="No"></button>
        </p-footer>
    </p-dialog> 