.student-profile-container{
    .profile-title{
        padding: 5px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
    }
    .image-div{
        padding:20px;
        text-align: center;
    }
   
 .image-logo{
     width: 150px;
     height: 150px;
     border-radius: 100px;
 }
 .btn{
     padding: 3px !important;
     font-size: 10px;
 }
 
}