<div class="row student-profile-container info-container right-arrow">
    <div class="col-md-12 profile-title">
        <h4><i class="fa fa-user" aria-hidden="true"></i> Student Profile</h4>
    </div>
    <div class="col-md-3">
        <table class="table table-sm table-bordered table-striped ">
            <thead>
              <tr>
                <th scope="col" colspan="2" class="image-div">
                    <img _ngcontent-vsp-c92="" src="./assets/images/avatar.png" class="img-fluid image-logo">
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Student Id</th>
                <td>15</td>
              </tr>
              <tr>
                <th scope="row">Name</th>
                <td>Teja Prasad</td>
              </tr>
              <tr>
                <th scope="row">Class</th>
                <td>10th Class</td>
              </tr>
              <tr>
                <th scope="row">Section</th>
                <td>A</td>
              </tr>
              <tr>
                <th scope="row">Email</th>
                <td class="word-break">tejaprasadbehara@gmail.com</td>
              </tr>
              <tr>
                <th scope="row">Mobile</th>
                <td>9640938361</td>
              </tr>
              <tr>
                <th scope="row">Status</th>
                <td><button class="btn btn-success">Active</button></td>
              </tr>
            </tbody>
          </table>
    </div>
   <div class="col-md-9">
    <p-tabView>
        <p-tabPanel header="Personal" leftIcon="pi pi-user">
            <div class="col-md-12 profile-title">
                <h6><i class="fa fa-info-circle" aria-hidden="true"></i> Personal Details</h6>               
            </div>
           <div class="col-md-12">
            <table class="table  table-bordered table-striped">
                <tbody>
                  <tr>
                    <th scope="row">First Name</th>
                    <td>Teja Prasad</td>
                    <th scope="row">Last Name</th>
                    <td>Behara</td>
                  </tr>
                  <tr>
                    <th scope="row">Middle Name</th>
                    <td></td>
                    <th scope="row">Gender</th>
                    <td>Male</td>
                  </tr>
                  <tr>
                    <th scope="row">Date Of Birth</th>
                    <td>17-06-1995</td>
                    <th scope="row">Nationality</th>
                    <td>Indian</td>
                  </tr>
                  <tr>
                    <th scope="row">Admission Category</th>
                    <td>NRG</td>
                    <th scope="row">Religion</th>
                    <td>Christian</td>
                  </tr>
                  <tr>
                    <th scope="row">Blood Group</th>
                    <td>B+</td>
                    <th scope="row">Birth Place</th>
                    <td>Visakhapatnam</td>
                  </tr>
                  <tr>
                    <th scope="row">Languages</th>
                    <td colspan="3">Telugu,English & Hindi</td>
                  </tr>
                </tbody>
              </table>
              
           </div>
        </p-tabPanel>
        <p-tabPanel header="Academic" leftIcon="pi pi-inbox">
            <div class="col-md-12 profile-title">
                <h6><i class="fa fa-info-circle" aria-hidden="true"></i> Academic Details</h6>               
            </div>
           <div class="col-md-12">
            <table class="table  table-bordered table-striped">
                <thead>
                    <tr>
                        <th rowspan="2">Class</th>
                        <th colspan="8" class="text-center">Exams</th>
                    </tr>
                    <tr>
                        <th colspan="1">Exam 1</th>
                        <th colspan="1">Exam 2</th>
                        <th colspan="1">Exam 3</th>
                        <th colspan="1">Exam 4</th>
                        <th colspan="1">Exam 5</th>
                        <th colspan="1">Exam 6</th>
                        <th colspan="1">Exam 7</th>
                        <th colspan="1">Exam 8</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>6th</td>
                        <td>550</td>
                        <td>520</td>
                        <td>480</td>
                        <td>560</td>
                        <td>585</td>
                        <td>564</td>
                        <td>587</td>
                        <td>590</td>
                    </tr>
                    <tr>
                        <td>7th</td>
                        <td>550</td>
                        <td>520</td>
                        <td>480</td>
                        <td>560</td>
                        <td>585</td>
                        <td>564</td>
                        <td>587</td>
                        <td>590</td>
                    </tr>
                    <tr>
                        <td>8th</td>
                        <td>550</td>
                        <td>520</td>
                        <td>480</td>
                        <td>560</td>
                        <td>585</td>
                        <td>564</td>
                        <td>587</td>
                        <td>590</td>
                    </tr>
                    <tr>
                        <td>9th</td>
                        <td>550</td>
                        <td>520</td>
                        <td>480</td>
                        <td>560</td>
                        <td>585</td>
                        <td>564</td>
                        <td>587</td>
                        <td>590</td>
                    </tr>
                    <tr>
                        <td>10th</td>
                        <td>550</td>
                        <td>520</td>
                        <td>480</td>
                        <td>560</td>
                        <td>585</td>
                        <td>564</td>
                        <td>587</td>
                        <td>590</td>
                    </tr>
                </tbody>
              </table>
              
           </div>
        </p-tabPanel>
        <p-tabPanel header="Gaurdians" leftIcon="pi pi-user">
            <div class="col-md-12 profile-title">
                <h6><i class="fa fa-info-circle" aria-hidden="true"></i> Gaurdian Details</h6>               
            </div>
           <div class="col-md-12">
            <table class="table  table-bordered table-striped">
                <tbody>
                  <tr>
                    <th scope="row">First Name</th>
                    <td>Srinivas</td>
                    <th scope="row">Last Name</th>
                    <td>Behara</td>
                  </tr>
                  <tr>
                    <th scope="row">Middle Name</th>
                    <td></td>
                    <th scope="row">Gender</th>
                    <td>Male</td>
                  </tr>
                  <tr>
                    <th scope="row">Mobile Number</th>
                    <td>9640938361</td>
                    <th scope="row">Email</th>
                    <td>srinivas@gmail.com</td>
                  </tr>
                  
                
                
                </tbody>
              </table>
              
           </div>
        </p-tabPanel>
        <p-tabPanel header="Address" leftIcon="pi pi-id-card" >
            <div class="col-md-12 profile-title">
                <h6><i class="fa fa-info-circle" aria-hidden="true"></i> Address</h6>               
            </div>
           <div class="col-md-12">
            <table class="table  table-bordered table-striped">
                <thead>
                    <th colspan="4" class="text-center">Current Details</th>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">D-no</th>
                    <td>2-56</td>
                    <th scope="row">Street</th>
                    <td>Raja Street</td>
                  </tr>
                  <tr>
                    <th scope="row">City</th>
                    <td>Srungavarapukota</td>
                    <th scope="row">District</th>
                    <td>Vizianagaram</td>
                  </tr>
                  <tr>
                    <th scope="row">State</th>
                    <td>Andhra Pradesh</td>
                    <th scope="row">Country</th>
                    <td>India</td>
                  </tr>      
                  <tr>
                    <th scope="row">Pincode</th>
                    <td>535145</td>
                    <th scope="row">Phone no</th>
                    <td>5639744892</td>
                  </tr>             
                </tbody>
              </table>              

              <table class="table  table-bordered table-striped">
                <thead>
                    <th colspan="4" class="text-center">Perminant Details</th>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">D-no</th>
                    <td>2-56</td>
                    <th scope="row">Street</th>
                    <td>Raja Street</td>
                  </tr>
                  <tr>
                    <th scope="row">City</th>
                    <td>Srungavarapukota</td>
                    <th scope="row">District</th>
                    <td>Vizianagaram</td>
                  </tr>
                  <tr>
                    <th scope="row">State</th>
                    <td>Andhra Pradesh</td>
                    <th scope="row">Country</th>
                    <td>India</td>
                  </tr>      
                  <tr>
                    <th scope="row">Pincode</th>
                    <td>535145</td>
                   
                  </tr>             
                </tbody>
              </table>   
           </div>
        </p-tabPanel>
        <p-tabPanel header="Documents" leftIcon="pi pi-clone">
            <div class="col-md-12 profile-title">
                <h6><i class="fa fa-info-circle" aria-hidden="true"></i> Documents</h6>               
            </div>
            <div class="col-md-12 text-center">
                <h5>Currently no documents found.</h5>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Fees" leftIcon="pi pi-money-bill">
            <div class="col-md-12 profile-title">
                <h6><i class="fa fa-info-circle" aria-hidden="true"></i> Fee Details</h6>               
            </div>
            <div class="col-md-12">
                <table class="table  table-bordered table-striped">
                    <thead>
                        <tr>
                            <th rowspan="2" class="text-center">Year</th>
                            <th colspan="4" class="text-center">Fee for</th>
                            <th rowspan="2" class="text-center">Payble </th>
                            <th rowspan="2" class="text-center">Paid </th>
                        </tr>
                        <tr>
                            <th colspan="1">Tution</th>
                            <th colspan="1">Bus</th>
                            <th colspan="1">Exams</th>
                            <th colspan="1">Uniform</th>
                        </tr>
                    </thead>                    
                    <tbody>
                        <tr>
                            <td>2019-20</td>
                            <td>15000</td>
                            <td>10000</td>
                            <td>1500</td>
                            <td>500</td>
                            <td>25000</td>
                            <td>25000</td>
                        </tr>
                        <tr>
                            <td>2018-19</td>
                            <td>15000</td>
                            <td>10000</td>
                            <td>1500</td>
                            <td>500</td>
                            <td>25000</td>
                            <td>25000</td>
                        </tr>
                        <tr>
                            <td>2017-18</td>
                            <td>15000</td>
                            <td>10000</td>
                            <td>1500</td>
                            <td>500</td>
                            <td>25000</td>
                            <td>25000</td>
                        </tr>
                        <tr>
                            <td>2016-17</td>
                            <td>15000</td>
                            <td>10000</td>
                            <td>1500</td>
                            <td>500</td>
                            <td>25000</td>
                            <td>25000</td>
                        </tr>
                       
                    </tbody>
                  </table>                  
               </div>
        </p-tabPanel>
    </p-tabView>
    
   </div>
</div>