<div class="container-fluid">
    <div class="col-md-12 component-header">
        <div class="row">
            <div class="col-md-10">
            </div>
            <div class="col-md-2 text-right">
                <button pButton type="button" icon="pi pi-filter" label="Filters"
                    class="ui-button-secondary table-header-items" (click)="toggleClass($event)"></button>&nbsp;
            </div>
        </div>
    </div>
    <form [formGroup]="filtersForm">
        <div #myFiltersDiv class="col-md-12 box transform">
            <div class="col-md-12 search-box">
                <div class="col-md-3">
                    <span>Field Name</span><br>
                    <input id="name" class="w-100" type="text" formControlName="fieldname" placeholder="Field Name"
                        size="30" pInputText>
                </div>
                <div class="col-md-3">
                    <span>Old Value</span><br>
                    <input id="name" class="w-100" type="text" formControlName="oldvalue" placeholder="Old Value"
                        size="30" pInputText>
                </div>
                <div class="col-md-3">
                    <span>New Value</span><br>
                    <input id="name" class="w-100" type="text" formControlName="newvalue" placeholder="New Value"
                        size="30" pInputText>
                </div>
                <div class="col-md-3">
                    <span>Processed User</span><br>
                    <p-dropdown [options]="users" formControlName="processeduser" class="w-100"
                        placeholder="Select User"></p-dropdown>
                </div>
                <div class="col-md-3">
                    <span>From Date</span><br>
                    <p-calendar placeholder="From Date" formControlName="fromdate"
                        [inputStyle]="{'width':'100% !important'}" [showIcon]="true"></p-calendar>
                </div>
                <div class="col-md-3">
                    <span>To Date</span><br>
                    <p-calendar placeholder="New Date" formControlName="todate"
                        [inputStyle]="{'width':'100% !important'}" [showIcon]="true"></p-calendar>
                </div>
                <div class="col-md-3">
                    <span>Action</span><br>
                    <p-dropdown [options]="actions" formControlName="action" class="w-100" placeholder="Select Action">
                    </p-dropdown>
                </div>
                <div class="col-md-3 text-right search-buttons">
                    <button pButton type="submit" icon="pi pi-search" label="Search"
                        class="ui-button-secondary table-header-items"></button>&nbsp;
                    <button pButton type="button" icon="pi pi-refresh" label="Clear" (click)="resetForm()"
                        class="ui-button-secondary table-header-items"></button>&nbsp;
                </div>
            </div>
        </div>
    </form>
    <div class="row search-box">
    <div class="col-md-12 ">
        <p-table #dt [columns]="cols" [value]="addauditlog" [lazy]="true" (onLazyLoad)="loadCarsLazy($event)"
            [paginator]="true" [rows]="10" [totalRecords]="totalRecords" [loading]="loading" [responsive]="true"
            [reorderableColumns]="true" dataKey="firstname">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" pReorderableColumn
                        style="width: 20% !important;">
                        <div class="">
                            {{col.header}}
                            <p-sortIcon [field]="col.field" style="float:right"></p-sortIcon>
                        </div>
                    </th>
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns" let-expanded="expanded">
                <tr>
                    <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                    </td>                   
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>